<a href="https://colab.research.google.com/github/DoroChan/Dorothee_C_PEP8/blob/main/python_3_2_functions_helping_statisticians_part_1_doroth_e_catry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examples from the course

In [ ]:
amounts_list = [12, 24, 36, 51, 62]

total = 0
for i in amounts_list:
  total += i
print(f"Total amount is: {total}")

print(f"Total amount is: {sum(amounts_list)}")

Total amount is :  185
Total amount is :  185

In [ ]:
def my_sum(list_argument):
  tot = 0
  for i in list_argument:
    tot += i
  print(tot)

my_sum(amounts_list)

185

In [ ]:
print(list_argument)

NameError: ignored

In [ ]:
print(tot)

NameError: ignored

In [ ]:
def substraction(nb, nb_to_substract):
  print(nb - nb_to_substract)

substraction(12, 7)
substraction(nb = 12, nb_to_substract = 7)
substraction(nb_to_substract = 7, nb = 12)
substraction(7, 12)

5
5
5
-5

In [ ]:
def substraction(nb, nb_to_substract):
  print(nb - nb_to_substract)

substraction(10, 3) + 2

7

TypeError: ignored

In [ ]:
def substraction(nb, nb_to_substract):
  return (nb - nb_to_substract)

substraction(10 , 3) + 2

9

# Help for statisticians!

Your fellow statisticians need you. They want to learn how to program in Python and have tons of calculations to do.

Very kindly, you agree to help them. Complete the missions below.

![Einstien le gÃ©nie](https://wallup.net/wp-content/uploads/2018/09/30/201016-funny-albert-einstein-748x468.jpg)

In [ ]:
# Mission 1: Create a function, that simply returns the string "Hello Python"

def message():
  return "Hello Python"

message()

'Hello Python'

In [ ]:
# Mission 2: Create a function that takes in 2 numbers as parameters, and returns a boolean indicating whether or not they are equal

def equals(num_1, num_2):
  equals_num = (num_1 == num_2)
  return equals_num

equals(2,2)

True

In [ ]:
# Mission 3: Create a function that takes a number as parameter, and returns the first 10 multiples of the number as a list
# Example: 2 -> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

def first_ten_multiples(num):
  lst_multiples = []
  for i in range(1, 11):
    lst_multiples.append(num*i)
  return lst_multiples

first_ten_multiples(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Mission 4: Create a function that takes a string as input, and return its vowels only, preserving case.
# Example: "Antidisestablishmentarianism" -> "Aiieaieaiai"
# Example: "TO BE OR NOT TO BE" -> "OEOOOE"

def vowels_only(my_string):
  new_string = ""
  for char_1 in my_string:
    for char_2 in "AIUEOaiueo":
      if char_1 == char_2:
        new_string += char_1
  return new_string

In [ ]:
vowels_only("Antidisestablishmentarianis")

'Aiieaieaiai'

In [ ]:
vowels_only("TO BE OR NOT TO BE")

'OEOOOE'

In [ ]:
# Mission 5: Create a function that takes 2 numbers as parameters, and returns the result of a division operation.
# Test if the denominator is equal to 0 and if so, display a message that says: "You can't divide by zero".

def my_division(num, deno):
  if deno == 0:
    return "You can't divide by zero fuc**** banana!!!"
  else:
    result = num / deno
    return result

In [ ]:
my_division(2,0)

"You can't divide by zero fuc**** banana!!!"

In [ ]:
my_division(3,5)

0.6

In [ ]:
# Mission 6: First, choose two arithmetical operations (such as +, -, *, or /)
# Then, create a function that takes in 3 numbers as parameters and carries out those operations, displays a message indicating if the result is positive, negative or zero, and finally returns the result.
# If a division by zero is attempted, display an error message.

def my_function(num_1, num_2, deno):
  if deno == 0:
    return f"Divide-by-zero error"
  result = (num_1 + num_2) / deno
  if result > 0:
    return f"Positive result : {result}"
  elif result < 0:
    return f"Negative result : {result}"

# Example with multiplication and addition:
# Calling with 0, 32, 2 will compute (0*32)+2, will display "Positive result", and return 2

# Example with division and addition:
# Calling with 21, 0, 3 will try to compute (21/0)+2, will display "Divide-by-zero error"

In [ ]:
my_function(1,2,3)

'Positive result : 1.0'

In [ ]:
my_function(1,-2,3)

'Negative result : -0.3333333333333333'

In [ ]:
my_function(1,3,0)

'Divide-by-zero error'

In [ ]:
# Mission 7: Create a function that takes a number as a parameter that corresponds to gross salary and returns the net salary for executives.
# You can specify any amount of deductions, or base them on your country's example

def net_salary(gross_salary):
  result = gross_salary * 0.75
  return result

In [ ]:
net_salary(30000)

22500.0

In [ ]:
# Mission 8: Create a function that can swap the values of any two variables, such as if variable A = 1 and variable B = 2, after applying the function, variable A = 2 and B = 1

def swapping_function(var_1,var_2):
  temp = var_1
  var_1 = var_2
  var_2 = temp
  return var_1, var_2

3
2

In [ ]:
a = 2
b = 3

a, b = swapping_function(a,b)

print(a)
print(b)

3
2

In [ ]:
def swapping_function(var_1,var_2):
  return var_2, var_1

In [ ]:
a = 2
b = 3

a, b = swapping_function(a,b)

print(a)
print(b)

3
2